* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: antiquewhite;
}

.navbar {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  height: 100px;
  background-color: white;
  z-index: 10;
}

.navbarLogo {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: start;
}

.navbarHeader {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.navbarHeader ul,
li {
  display: flex;
  gap: 8px;
  margin-right: 20px;
}

.navbarHeader ul li > a {
  padding: 8px;
  text-decoration: none;
  color: black;
  border-style: solid;
  border-radius: 60px;
  border-width: 0.5px 2px 3px 2px;
}

.navbarBtn {
  margin-right: 150px;
  margin-left: 250px;
  align-items: end;
  justify-content: center;
  z-index: 9;

  /* background: #000; */
}

.navbtn {
  height: 40px;
  width: 134.65px;
  border: #f05305;
  color: white;
  background-color: #fa6216;
  font-size: 15px;
  border-radius: 30px;
  border-width: 0.5px 2px 4px 2px;
}

/* Hero section starts here */

.heroSection {
  height: 100vh;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.heroImage {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 10;
}

.firstDiv{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    float: left;

    
    
}

.firstDiv h5{
    color: #fa6216;;
}

.secondDiv{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    float: right;
    margin: 20px 20px;
    padding: 10px 10px;
    width:35%;
    height: 45%;
    border: 1px solid black;
    border-radius: 20px;
    border-width: 1px 1px 4px 1px;
}
